<%= turbo_frame_tag :profile_details do %>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name),  html: { method: :put, class: "d-flex flex-column", novalidate: true, data: { controller: "sign-up-form", turbo: false }}) do |f| %>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div class="alert alert-warning">
        Currently waiting confirmation for: <%= resource.unconfirmed_email %>
      </div>
    <% end %>

    <div class="mb-3">
      <%= f.label :password, "New password ",class: "form-label" %>
      <%= f.password_field :password, autocomplete: "new-password", class: "form-control", required: true %>
      <% if @minimum_password_length %>
        <small class="form-text">
          <%= @minimum_password_length %> characters minimum
        </small>
      <% end %>
      <div class="invalid-feedback">Minimum of 6 characters</div>
    </div>

    <div class="mb-3">
      <%= f.label :password_confirmation, class: "form-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "form-control", required: true %>
      <div class="invalid-feedback">Password confirmation doesn't match</div>
    </div>

    <div class="mt-4 align-self-end">
      <%= f.submit "Update", class: "btn btn-primary" %>
    </div>
  <% end %>
<% end %>
