<h1 class='mb-7'>New Physical Examination</h1>
<%= form_with model: @physical_examination, url: patients_physical_examinations_path(id: @physical_examination.patient.id), method: :post,  html: { class: 'row '} do |physical_examinations_form| %>
  <div class="col-12 mb-7">
    <strong class='mb-7 notice d-flex bg-light-primary rounded border-primary border border-dashed mb-9 p-6'>Vision: Uncorrected:
      <span class='badge badge-light-primary'>Uncheck</span> Corrected:<span class='badge badge-light-danger'>Check</span>
    </strong>
  </div>
  <div class="col-12 mb-7 d-flex align-items-center justify-content-start">
    <span class="me-4 fs-3">Right Eye:</span> <%= physical_examinations_form.check_box :right_eye, class: 'form-check-input fs-3 me-2', value: 'uncorrected', checked: false %>
    <span class="me-4 fs-3">Left Eye:</span><%= physical_examinations_form.check_box :left_eye, class: 'form-check-input fs-3 me-2', value: 'uncorrected', checked: false %>
    <span class="me-4 fs-3">Both Eyes:</span><%= physical_examinations_form.check_box :both_eyes, class: 'form-check-input fs-3 me-2', value: 'uncorrected', checked: false %>
  </div>
  <div class="col-12 mb-7">
    <strong class='mb-7 notice d-flex bg-light-primary rounded border-primary border border-dashed mb-9 p-6'><span class='badge badge-light-primary'>Yes</span>
      if Normal otherwise <span class='badge badge-light-danger'>No</span> and please input the <span class='badge badge-light-danger'>abnormal findings </span>
    </strong>
    <div class="row">
      <hr class='mb-7'>
      <div class="col-4">
      </div>
      <div class="col-4">
        <strong>NORMAL</strong>
      </div>
      <div class="col-4">
        <strong>ABNORMAL FINDINGS</strong>
      </div>
    </div>

    <div class="row mb-7" data-controller='physical-examination'>
      <div class="col-4">
        <label for="heent" class='form-label fs-3'>HEENT:</label>
      </div>
      <div class="col-4">
        <div class="mt-4 d-flex align-items-center justify-content-start gap-4">
          <%= physical_examinations_form.radio_button :heent, 'yes', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> Yes
          <%= physical_examinations_form.radio_button :heent, 'no', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> No
        </div>
      </div>
      <div class="col-4">
        <%= physical_examinations_form.text_area :heent, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', data: { target: 'physical-examination.textarea' } %>
      </div>
    </div>


    <div class="row mb-7" data-controller='physical-examination'>
      <div class="col-4">
        <label for="neck" class='form-label fs-3'>NECK:</label>
      </div>
      <div class="col-4">
        <div class="mt-4 d-flex align-items-center justify-content-start gap-4">
          <%= physical_examinations_form.radio_button :neck, 'yes', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> Yes
          <%= physical_examinations_form.radio_button :neck, 'no', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> No
        </div>
      </div>
      <div class="col-4">
        <%= physical_examinations_form.text_area :neck, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', data: { target: 'physical-examination.textarea' } %>
      </div>
    </div>

    <div class="row mb-7" data-controller='physical-examination'>
      <div class="col-4">
        <label for="chest-lungs" class='form-label fs-3'>CHEST/LUNGS:</label>
      </div>
      <div class="col-4">
        <div class="mt-4 d-flex align-items-center justify-content-start gap-4">
          <%= physical_examinations_form.radio_button :chest_lungs, 'yes', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> Yes
          <%= physical_examinations_form.radio_button :chest_lungs, 'no', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> No
        </div>
      </div>
      <div class="col-4">
        <%= physical_examinations_form.text_area :chest_lungs, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', data: { target: 'physical-examination.textarea' } %>
      </div>
    </div>

    <div class="row mb-7" data-controller='physical-examination'>
      <div class="col-4">
        <label for="heart" class='form-label fs-3'>HEART:</label>
      </div>
      <div class="col-4">
        <div class="mt-4 d-flex align-items-center justify-content-start gap-4">
          <%= physical_examinations_form.radio_button :heart, 'yes', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> Yes
          <%= physical_examinations_form.radio_button :heart, 'no', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> No
        </div>
      </div>
      <div class="col-4">
        <%= physical_examinations_form.text_area :heart, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', data: { target: 'physical-examination.textarea' } %>
      </div>
    </div>

    <div class="row mb-7" data-controller='physical-examination'>
      <div class="col-4">
        <label for="breast" class='form-label fs-3'>BREAST:</label>
      </div>
      <div class="col-4">
        <div class="mt-4 d-flex align-items-center justify-content-start gap-4">
          <%= physical_examinations_form.radio_button :breast, 'yes', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> Yes
          <%= physical_examinations_form.radio_button :breast, 'no', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> No
        </div>
      </div>
      <div class="col-4">
        <%= physical_examinations_form.text_area :breast, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', data: { target: 'physical-examination.textarea' } %>
      </div>
    </div>

    <div class="row mb-7" data-controller='physical-examination'>
      <div class="col-4">
        <label for="abdomen" class='form-label fs-3'>ABDOMEN:</label>
      </div>
      <div class="col-4">
        <div class="mt-4 d-flex align-items-center justify-content-start gap-4">
          <%= physical_examinations_form.radio_button :abdomen, 'yes', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> Yes
          <%= physical_examinations_form.radio_button :abdomen, 'no', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> No
        </div>
      </div>
      <div class="col-4">
        <%= physical_examinations_form.text_area :abdomen, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', data: { target: 'physical-examination.textarea' } %>
      </div>
    </div>

    <div class="row mb-7" data-controller='physical-examination'>
      <div class="col-4">
        <label for="gut" class='form-label fs-3'>GUT:</label>
      </div>
      <div class="col-4">
        <div class="mt-4 d-flex align-items-center justify-content-start gap-4">
          <%= physical_examinations_form.radio_button :gut, 'yes', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> Yes
          <%= physical_examinations_form.radio_button :gut, 'no', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> No
        </div>
      </div>
      <div class="col-4">
        <%= physical_examinations_form.text_area :gut, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', data: { target: 'physical-examination.textarea' } %>
      </div>
    </div>

    <div class="row mb-7" data-controller='physical-examination'>
      <div class="col-4">
        <label for="extremities" class='form-label fs-3'>EXTREMITIES:</label>
      </div>
      <div class="col-4">
        <div class="mt-4 d-flex align-items-center justify-content-start gap-4">
          <%= physical_examinations_form.radio_button :extremities, 'yes', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> Yes
          <%= physical_examinations_form.radio_button :extremities, 'no', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> No
        </div>
      </div>
      <div class="col-4">
        <%= physical_examinations_form.text_area :extremities, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', data: { target: 'physical-examination.textarea' } %>
      </div>
    </div>

    <div class="row mb-7" data-controller='physical-examination'>
      <div class="col-4">
        <label for="musculoskeletal" class='form-label fs-3'>MUSCULOSKELETAL:</label>
      </div>
      <div class="col-4">
        <div class="mt-4 d-flex align-items-center justify-content-start gap-4">
          <%= physical_examinations_form.radio_button :musculoskeletal, 'yes', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> Yes
          <%= physical_examinations_form.radio_button :musculoskeletal, 'no', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> No
        </div>
      </div>
      <div class="col-4">
        <%= physical_examinations_form.text_area :musculoskeletal, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', data: { target: 'physical-examination.textarea' } %>
      </div>
    </div>

    <div class="row mb-7" data-controller='physical-examination'>
      <div class="col-4">
        <label for="neurological" class='form-label fs-3'>NEUROLOGICAL:</label>
      </div>
      <div class="col-4">
        <div class="mt-4 d-flex align-items-center justify-content-start gap-4">
          <%= physical_examinations_form.radio_button :neurological, 'yes', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> Yes
          <%= physical_examinations_form.radio_button :neurological, 'no', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> No
        </div>
      </div>
      <div class="col-4">
        <%= physical_examinations_form.text_area :neurological, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', data: { target: 'physical-examination.textarea' } %>
      </div>
    </div>

    <div class="row mb-7" data-controller='physical-examination'>
      <div class="col-4">
        <label for="skin" class='form-label fs-3'>SKIN:</label>
      </div>
      <div class="col-4">
        <div class="mt-4 d-flex align-items-center justify-content-start gap-4">
          <%= physical_examinations_form.radio_button :skin, 'yes', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> Yes
          <%= physical_examinations_form.radio_button :skin, 'no', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> No
        </div>
      </div>
      <div class="col-4">
        <%= physical_examinations_form.text_area :skin, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', data: { target: 'physical-examination.textarea' } %>
      </div>
    </div>

    <div class="row mb-7">
      <div class="col-4">
        <label for="others" class='form-label fs-3'>OTHERS:</label>
      </div>
      <div class="col-8">
        <%= physical_examinations_form.text_area :others, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2'%>
      </div>
    </div>
    <hr>
    <div class="row mb-7" data-controller='physical-examination'>
      <div class="col-4">
        <label for="complete-blood-count" class='form-label fs-3'>Complete Blood Count:</label>
      </div>
      <div class="col-4">
        <div class="mt-4 d-flex align-items-center justify-content-start gap-4">
          <%= physical_examinations_form.radio_button :complete_blood_count, 'yes', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> Yes
          <%= physical_examinations_form.radio_button :complete_blood_count, 'no', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> No
        </div>
      </div>
      <div class="col-4">
        <%= physical_examinations_form.text_area :complete_blood_count, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', data: { target: 'physical-examination.textarea' } %>
      </div>
    </div>

    <div class="row mb-7" data-controller='physical-examination'>
      <div class="col-4">
        <label for="urinalysis" class='form-label fs-3'>Urinalysis:</label>
      </div>
      <div class="col-4">
        <div class="mt-4 d-flex align-items-center justify-content-start gap-4">
          <%= physical_examinations_form.radio_button :urinalysis, 'yes', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> Yes
          <%= physical_examinations_form.radio_button :urinalysis, 'no', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> No
        </div>
      </div>
      <div class="col-4">
        <%= physical_examinations_form.text_area :urinalysis, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', data: { target: 'physical-examination.textarea' } %>
      </div>
    </div>

    <div class="row mb-7" data-controller='physical-examination'>
      <div class="col-4">
        <label for="fecalysis" class='form-label fs-3'>Fecalysis:</label>
      </div>
      <div class="col-4">
        <div class="mt-4 d-flex align-items-center justify-content-start gap-4">
          <%= physical_examinations_form.radio_button :fecalysis, 'yes', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> Yes
          <%= physical_examinations_form.radio_button :fecalysis, 'no', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> No
        </div>
      </div>
      <div class="col-4">
        <%= physical_examinations_form.text_area :fecalysis, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', data: { target: 'physical-examination.textarea' } %>
      </div>
    </div>

    <div class="row mb-7" data-controller='physical-examination'>
      <div class="col-4">
        <label for="chest_xray" class='form-label fs-3'>Chest X-ray:</label>
      </div>
      <div class="col-4">
        <div class="mt-4 d-flex align-items-center justify-content-start gap-4">
          <%= physical_examinations_form.radio_button :chest_xray, 'yes', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> Yes
          <%= physical_examinations_form.radio_button :chest_xray, 'no', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> No
        </div>
      </div>
      <div class="col-4">
        <%= physical_examinations_form.text_area :chest_xray, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', data: { target: 'physical-examination.textarea' } %>
      </div>
    </div>

    <div class="row mb-7" data-controller='physical-examination'>
      <div class="col-4">
        <label for="fasting-blood-sugar" class='form-label fs-3'>Fasting Blood Sugar:</label>
      </div>
      <div class="col-4">
        <div class="mt-4 d-flex align-items-center justify-content-start gap-4">
          <%= physical_examinations_form.radio_button :fasting_blood_sugar, 'yes', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> Yes
          <%= physical_examinations_form.radio_button :fasting_blood_sugar, 'no', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> No
        </div>
      </div>
      <div class="col-4">
        <%= physical_examinations_form.text_area :fasting_blood_sugar, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', data: { target: 'physical-examination.textarea' } %>
      </div>
    </div>

    <div class="row mb-7" data-controller='physical-examination'>
      <div class="col-4">
        <label for="lipid-profile" class='form-label fs-3'>Lipid Profile:</label>
      </div>
      <div class="col-4">
        <div class="mt-4 d-flex align-items-center justify-content-start gap-4">
          <%= physical_examinations_form.radio_button :lipid_profile, 'yes', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> Yes
          <%= physical_examinations_form.radio_button :lipid_profile, 'no', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> No
        </div>
      </div>
      <div class="col-4">
        <%= physical_examinations_form.text_area :lipid_profile, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', data: { target: 'physical-examination.textarea' } %>
      </div>
    </div>

    <div class="row mb-7" data-controller='physical-examination'>
      <div class="col-4">
        <label for="blood-uric-acid" class='form-label fs-3'>Blood Uric Acid:</label>
      </div>
      <div class="col-4">
        <div class="mt-4 d-flex align-items-center justify-content-start gap-4">
          <%= physical_examinations_form.radio_button :blood_uric_acid, 'yes', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> Yes
          <%= physical_examinations_form.radio_button :blood_uric_acid, 'no', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> No
        </div>
      </div>
      <div class="col-4">
        <%= physical_examinations_form.text_area :blood_uric_acid, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', data: { target: 'physical-examination.textarea' } %>
      </div>
    </div>

    <div class="row mb-7" data-controller='physical-examination'>
      <div class="col-4">
        <label for="acg-12-leads" class='form-label fs-3'>ECG 12-leads:</label>
      </div>
      <div class="col-4">
        <div class="mt-4 d-flex align-items-center justify-content-start gap-4">
          <%= physical_examinations_form.radio_button :ecg_12_leads, 'yes', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> Yes
          <%= physical_examinations_form.radio_button :ecg_12_leads, 'no', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> No
        </div>
      </div>
      <div class="col-4">
        <%= physical_examinations_form.text_area :ecg_12_leads, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', data: { target: 'physical-examination.textarea' } %>
      </div>
    </div>

    <div class="row mb-7" data-controller='physical-examination'>
      <div class="col-4">
        <label for="drug-test" class='form-label fs-3'>Drug Test:</label>
      </div>
      <div class="col-4">
        <div class="mt-4 d-flex align-items-center justify-content-start gap-4">
          <%= physical_examinations_form.radio_button :drug_test, 'yes', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> Yes
          <%= physical_examinations_form.radio_button :drug_test, 'no', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> No
        </div>
      </div>
      <div class="col-4">
        <%= physical_examinations_form.text_area :drug_test, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', data: { target: 'physical-examination.textarea' } %>
      </div>
    </div>

    <div class="row mb-7" data-controller='physical-examination'>
      <div class="col-4">
        <label for="sputum-genexpert" class='form-label fs-3'>Sputum GeneXpert:</label>
      </div>
      <div class="col-4">
        <div class="mt-4 d-flex align-items-center justify-content-start gap-4">
          <%= physical_examinations_form.radio_button :sputum_genexpert, 'yes', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> Yes
          <%= physical_examinations_form.radio_button :sputum_genexpert, 'no', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> No
        </div>
      </div>
      <div class="col-4">
        <%= physical_examinations_form.text_area :sputum_genexpert, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', data: { target: 'physical-examination.textarea' } %>
      </div>
    </div>

    <div class="row mb-7" data-controller='physical-examination'>
      <div class="col-4">
        <label for="hbsag" class='form-label fs-3'>HBsAg:</label>
      </div>
      <div class="col-4">
        <div class="mt-4 d-flex align-items-center justify-content-start gap-4">
          <%= physical_examinations_form.radio_button :hbsag, 'yes', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> Yes
          <%= physical_examinations_form.radio_button :hbsag, 'no', class: 'form-check-input', data: { target: 'physical-examination.radio', action: 'change->physical-examination#toggleTextarea' } %> No
        </div>
      </div>
      <div class="col-4">
        <%= physical_examinations_form.text_area :hbsag, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', data: { target: 'physical-examination.textarea' } %>
      </div>
    </div>

    <div class="row mb-7">
      <div class="col-4">
        <label for="others_1" class='form-label fs-3'>Others:</label>
      </div>
      <div class="col-8">
        <%= physical_examinations_form.text_area :others_1, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', required: true %>
      </div>
    </div>
    <hr class='my-4'>
    <div class="row mb-7">
      <div class="col-4">
        <label for="diagnosis" class='form-label fs-3'><strong>DIAGNOSIS:</strong></label>
      </div>
      <div class="col-8">
        <%= physical_examinations_form.text_area :diagnosis, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', required: true %>
      </div>
    </div>

    <div class="row mb-7">
      <div class="col-4">
        <label for="plan" class='form-label fs-3'><strong>PLAN:</strong></label>
      </div>
      <div class="col-8">
        <%= physical_examinations_form.text_area :plan, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', required: true %>
      </div>
    </div>

    <div class="row mb-7">
      <div class="col-4">
        <label for="district-physician" class='form-label fs-3'><strong>District Physician:</strong></label>
      </div>
      <div class="col-8">
        <%= physical_examinations_form.text_field :district_physician, class: 'form-control fs-3 border-top-0 border-end-0 border-start-0 border-bottom-2', required: true %>
      </div>
    </div>

    <div class="row mb-20">
      <div class="col-4">
        <label for="date" class='form-label fs-3'><strong>Date:</strong></label>
      </div>
      <div class="col-8">
        <%= physical_examinations_form.date_field :date, class: 'form-control fs-3', value: Time.now %>
      </div>
    </div>
    <div class="col-12 d-flex align-items-center justify-content-between mt-4">
      <%= link_to 'Cancel', dashboard_patient_path(@physical_examination.patient), class: 'btn btn-light me-3 fs-3' %>
      <%= physical_examinations_form.submit 'Save', class: 'btn btn-primary fs-3' %>
    </div>
  </div>
<% end %>
