<%= form_with model: @physician, url: dashboard_physician_path(@physician), method: :patch, html: { class: 'row' } do |form| %>
  <div class='col-12'>
    <div class='row gap-4 mb-4'>
      <div class='col-12'>
        <div class='card shadow-sm'>
          <div class='card-header collapsible cursor-pointer rotate' data-bs-toggle='collapse' data-bs-target='#kt_docs_card_collapsible'>
            <h3 class='card-title fs-1'><strong>Update Doctor</strong></h3>
            <div class='card-toolbar rotate-180'>
              <%= bootstrap_icon 'pencil-square', class: 'text-primary' %>
            </div>
          </div>
          <div id='kt_docs_card_collapsible' class='collapse show'>
            <div class='card-body px-10'>
              <%= render partial: 'physician_form', locals: { form: form, physician: @physician }%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class='col-12 d-flex align-items-center justify-content-between'>
      <%= link_to 'Cancel', dashboard_physician_path(@physician), class: 'btn btn-light fs-3' %>
      <%= form.submit nil, class: 'btn btn-primary fs-3' %>
  </div>
<% end %>

