<h1 class='mb-7'>New Consult</h1>
<%= form_with model: @consult, url: patients_consults_path(id: @consult.patient.id), method: :post,  html: { class: 'row' } do |consults_form| %>
  <div class='col-12 mb-7'>
    <%= consults_form.label 'Date of Consult:', class: 'form-label fs-3' %>
    <%= consults_form.date_field :date, class: 'form-control fs-3', value: Time.now %>
  </div>

  <div class='col-12 mb-7'>
    <%= consults_form.label 'Time of Consult:', class: 'form-label fs-3' %>
    <%= consults_form.time_field :time, class: 'form-control fs-3', value: Time.now.strftime('%H:%M') %>
  </div>

  <div class='col-12 mb-7'>
    <%= consults_form.label 'Reason:', class: 'form-label fs-3' %>
    <%= consults_form.text_area :reason, class: 'form-control fs-3', placeholder: 'For maintenance' %>
  </div>

  <div class='col-12 mb-7'>
    <%= consults_form.label 'S:', class: 'form-label fs-3' %>
    <%= consults_form.text_field :s, class: 'form-control fs-3' %>
  </div>

  <div class='col-12 mb-7'>
    <%= consults_form.label 'RR:', class: 'form-label fs-3' %>
    <%= consults_form.text_field :rr, class: 'form-control fs-3' %>
  </div>

  <div class='col-12 mb-7'>
    <%= consults_form.label 'O:', class: 'form-label fs-3' %>
    <%= consults_form.text_field :o, class: 'form-control fs-3' %>
  </div>

  <div class='col-12 mb-7'>
    <%= consults_form.label 'A:', class: 'form-label fs-3' %>
    <%= consults_form.text_field :a, class: 'form-control fs-3' %>
  </div>

  <div class='col-12 mb-7'>
    <%= consults_form.label 'P:', class: 'form-label fs-3' %>
    <%= consults_form.text_area :p, class: 'form-control fs-3' %>
  </div>


  <div class="col-12 d-flex align-items-center justify-content-between mt-4">
    <%= link_to 'Cancel', dashboard_patient_path(@consult.patient), class: 'btn btn-light me-3 f-3' %>
    <%= consults_form.submit 'Save', class: 'btn btn-primary f-3'%>
  </div>
<% end %>
