<div class='card-body p-9'>
  <div class='row mb-7'>
    <%= content_tag :label, 'Full Name', class: 'col-lg-4 fw-semibold text-muted' %>
    <div class='col-lg-8'>
      <%= content_tag :span, patient.fullname, class: 'fw-bold fs-6 text-gray-800' %>
    </div>
  </div>
  <div class='row mb-7'>
    <%= content_tag :label, 'Birth Date', class: 'col-lg-4 fw-semibold text-muted' %>
    <div class='col-lg-8'>
      <%= content_tag :span, patient.birthdate, class: 'fw-bold fs-6 text-gray-800' %>
    </div>
  </div>
  <div class='row mb-7'>
    <%= content_tag :label, 'Age', class: 'col-lg-4 fw-semibold text-muted' %>
    <div class='col-lg-8'>
      <%= content_tag :span, patient.age, class: 'fw-bold fs-6 text-gray-800' %>
    </div>
  </div>
  <div class='row mb-7'>
    <%= content_tag :label, 'Gender', class: 'col-lg-4 fw-semibold text-muted' %>
    <div class='col-lg-8'>
      <%= content_tag :span, gender_badge(patient.gender), class: 'fw-bold fs-6 text-gray-800' %>
    </div>
  </div>
  <div class='row mb-7'>
    <%= content_tag :label, 'Contact #', class: 'col-lg-4 fw-semibold text-muted' %>
    <div class='col-lg-8'>
      <%= content_tag :span, patient.contact_number, class: 'fw-bold fs-6 text-gray-800' %>
    </div> 
  </div>
  <div class='row mb-7'>
    <%= content_tag :label, 'Address', class: 'col-lg-4 fw-semibold text-muted' %>
    <div class='col-lg-8'>
      <%= content_tag :span, patient.address_line, class: 'fw-bold fs-6 text-gray-800' %>
    </div>
  </div>
  <div class='row mb-7'>
    <%= content_tag :label, 'Length', class: 'col-lg-4 fw-semibold text-muted' %>
    <div class='col-lg-8'>
      <%= content_tag :span, patient.length, class: 'fw-bold fs-6 text-gray-800' %>
    </div>
  </div>
  <div class='row mb-7'>
    <%= content_tag :label, 'Body Circumference', class: 'col-lg-4 fw-semibold text-muted' %>
    <div class='col-lg-8'>
      <%= content_tag :span, patient.body_circumference, class: 'fw-bold fs-6 text-gray-800' %>
    </div>
  </div>
  <div class='row mb-7'>
    <%= content_tag :label, 'MUAC', class: 'col-lg-4 fw-semibold text-muted' %>
    <div class='col-lg-8'>
      <%= content_tag :span, patient.muac, class: 'fw-bold fs-6 text-gray-800' %>
    </div>
  </div>
  <div class='row mb-7'>
    <%= content_tag :label, 'Head Circumference', class: 'col-lg-4 fw-semibold text-muted' %>
    <div class='col-lg-8'>
      <%= content_tag :span, patient.head_circumference, class: 'fw-bold fs-6 text-gray-800' %>
    </div>
  </div>
  <div class='row mb-7'>
    <%= content_tag :label, 'Hip', class: 'col-lg-4 fw-semibold text-muted' %>
    <div class='col-lg-8'>
      <%= content_tag :span, patient.hip, class: 'fw-bold fs-6 text-gray-800' %>
    </div>
  </div>
  <div class='row mb-7'>
    <%= content_tag :label, 'Limbs', class: 'col-lg-4 fw-semibold text-muted' %>
    <div class='col-lg-8'>
      <%= content_tag :span, patient.limbs, class: 'fw-bold fs-6 text-gray-800' %>
    </div>
  </div>
  <div class='row mb-7'>
    <%= content_tag :label, 'Z score', class: 'col-lg-4 fw-semibold text-muted' %>
    <div class='col-lg-8'>
      <%= content_tag :span, patient.z_score, class: 'fw-bold fs-6 text-gray-800' %>
    </div>
  </div>
</div>
