<div class="card-body p-9">
  <div class="row mb-7">
    <label class="col-lg-4 fw-semibold text-muted">Full Name</label>
    <div class="col-lg-8">
      <span class="fw-bold fs-6 text-gray-800"><%= patient.fullname %></span>
    </div>
  </div>
  <div class="row mb-7">
    <label class="col-lg-4 fw-semibold text-muted">Birth Date</label>
    <div class="col-lg-8">
      <span class="fw-bold fs-6 text-gray-800"><%= patient.birthdate %></span>
    </div>
  </div>
  <div class="row mb-7">
    <label class="col-lg-4 fw-semibold text-muted">Age</label>
    <div class="col-lg-8">
      <span class="fw-bold fs-6 text-gray-800"><%= patient.age %></span>
    </div>
  </div>
  <div class="row mb-7">
    <label class="col-lg-4 fw-semibold text-muted">Gender</label>
    <div class="col-lg-8">
      <span class="fw-bold fs-6 text-gray-800"><%= gender_badge(patient.gender) %></span>
    </div>
  </div>
  <div class="row mb-7">
    <label class="col-lg-4 fw-semibold text-muted">Contact #</label>
    <div class="col-lg-8">
      <span class="fw-bold fs-6 text-gray-800"><%= patient.details_contact_number %></span>
    </div>
  </div>
  <div class="row mb-7">
    <label class="col-lg-4 fw-semibold text-muted">Address</label>
    <div class="col-lg-8">
      <span class="fw-bold fs-6 text-gray-800"><%= patient.details_address %></span>
    </div>
  </div>
  <div class="row mb-7">
    <label class="col-lg-4 fw-semibold text-muted">Length</label>
    <div class="col-lg-8">
      <span class="fw-bold fs-6 text-gray-800"><%= patient.length %></span>
    </div>
  </div>
  <div class="row mb-7">
    <label class="col-lg-4 fw-semibold text-muted">Body Circumference</label>
    <div class="col-lg-8">
      <span class="fw-bold fs-6 text-gray-800"><%= patient.body_circumference %></span>
    </div>
  </div>
  <div class="row mb-7">
    <label class="col-lg-4 fw-semibold text-muted">MUAC</label>
    <div class="col-lg-8">
      <span class="fw-bold fs-6 text-gray-800"><%= patient.muac %></span>
    </div>
  </div>
  <div class="row mb-7">
    <label class="col-lg-4 fw-semibold text-muted">Head Circumference</label>
    <div class="col-lg-8">
      <span class="fw-bold fs-6 text-gray-800"><%= patient.head_circumference %></span>
    </div>
  </div>
  <div class="row mb-7">
    <label class="col-lg-4 fw-semibold text-muted">Hip</label>
    <div class="col-lg-8">
      <span class="fw-bold fs-6 text-gray-800"><%= patient.hip %></span>
    </div>
  </div>
  <div class="row mb-7">
    <label class="col-lg-4 fw-semibold text-muted">Limbs</label>
    <div class="col-lg-8">
      <span class="fw-bold fs-6 text-gray-800"><%= patient.limbs %></span>
    </div>
  </div>
  <div class="row mb-7">
    <label class="col-lg-4 fw-semibold text-muted">Z score</label>
    <div class="col-lg-8">
      <span class="fw-bold fs-6 text-gray-800"><%= patient.z_score %></span>
    </div>
  </div>
</div>
