<tr class="even">
  <td><%= patient.id %></td>
  <td class="d-flex align-items-center">
    <div class="symbol symbol-circle symbol-50px overflow-hidden me-3">
      <%= link_to dashboard_patient_path(patient) do %>
        <div class="symbol-label">
          <div class="symbol-label fs-3 bg-light-danger text-danger">
            <%= patient.fullname[0]%>
          </div>
        </div>
      <% end %>
    </div>
    <div class="d-flex flex-column">
      <%= link_to dashboard_patient_path(patient), class: 'text-gray-800 text-hover-primary mb-1' do %>
        <%= patient.fullname %>
      <% end %>
    </div>
  </td>
  <td> <%= patient.address_line %></td>
  <td> <%= patient.age %></td>
  <td>
    <%= gender_badge(patient.gender) %>
  </td>
  <td> <%= format_datetime(patient.created_at) %> </td>
  <td class="text-end">
    <a href="#" class="btn btn-light btn-active-light-primary btn-sm" data-kt-menu-trigger="click" data-kt-menu-placement="bottom-end">
      Actions
      <span class="svg-icon svg-icon-5 m-0">
        <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
          <path d="M11.4343 12.7344L7.25 8.55005C6.83579 8.13583 6.16421 8.13584 5.75 8.55005C5.33579 8.96426 5.33579 9.63583 5.75 10.05L11.2929 15.5929C11.6834 15.9835 12.3166 15.9835 12.7071 15.5929L18.25 10.05C18.6642 9.63584 18.6642 8.96426 18.25 8.55005C17.8358 8.13584 17.1642 8.13584 16.75 8.55005L12.5657 12.7344C12.2533 13.0468 11.7467 13.0468 11.4343 12.7344Z" fill="currentColor"></path>
        </svg>
      </span>
    </a>
    <div class="menu menu-sub menu-sub-dropdown menu-column menu-rounded menu-gray-600 menu-state-bg-light-primary fw-bold fs-7 w-125px py-4" data-kt-menu="true">
      <div class="menu-item px-3">
        <%= link_to "View", dashboard_patient_path(patient),  class: 'menu-link px-3' %>
      </div>
      <div class="menu-item px-3">
        <%= link_to "Edit", edit_dashboard_patient_path(patient),  class: 'menu-link px-3' %>
      </div>
      <div class="menu-item px-3">
        <%= link_to "Delete", dashboard_patient_path(patient),  class: 'menu-link px-3', data: { turbo_method: :delete, turbo_confirm: "Are you sure you want to remove '#{patient.fullname}'?" } %>
      </div>
    </div>
  </td>
</tr>
