<div class='col-12 mb-7'>
  <label for="firstname" class="form-label fs-3">First Name: </label>
  <%= form.text_field :firstname, class: 'form-control fs-3 fs-3', placeholder: 'John Lloyd' %>
</div>

<div class='col-12 mb-7'>
  <label for="middle_initial" class="form-label fs-3">Middle Initial: </label>
  <%= form.text_field :middle_initial, class: 'form-control fs-3', placeholder: 'D.' %>
</div>

<div class='col-12 mb-7'>
  <label for="lastname" class="form-label fs-3">Last Name: </label>
  <%= form.text_field :lastname, class: 'form-control fs-3', placeholder: 'de Sape' %>
</div>

<div class='col-12 mb-7'>
  <%= form.label 'Birthdate:', class: 'form-label fs-3'%>
  <%= form.date_field :birthdate, class: 'form-control fs-3', data: { target: 'patients.birthdate' }%>
</div>

<div class='col-12 mb-7' >
  <%= form.label 'Age:', class: 'form-label fs-3'%>
  <%= form.number_field :age, class: 'form-control fs-3', min: 0, max: 100, placeholder: '18', data: { target: 'patients.age' } %>
</div>

<div class='col-12 mb-7'>
  <%= form.label 'Gender:', class: 'form-label fs-3'%>
  <% Patient.genders.keys.each do |key| %>
    <%= form.radio_button :gender, key, class: 'ms-5 form-check-input fs-3'%> <%= key.humanize %>
  <% end %>
</div>

<div class='col-12 mb-7'>
  <%= form.label 'Contact Number: ', class: 'form-label fs-3'%>
  <%= form.text_field :contact_number, class: 'form-control fs-3', placeholder: '(+63) 9612337412'%>
</div>

<div class='col-12 mb-7'>
  <%= form.label 'Address:', class: 'form-label fs-3' %>
  <%= form.select :address_line, ['Brgy. Linao', 'Brgy. Punta', 'Brgy. Tambulilid', 'Brgy. Naungan'], {}, class: 'form-select' %>
</div>
<hr>
<h4 class='card-title text-normal mb-7 fs-3'>Additional Details for Consults/Physical Examination Form</h4>

<div class='col-12 mb-7'>
  <%= form.label 'Weight (in kg):', class: 'form-label fs-3' %>
  <%= form.number_field :weight, class: 'form-control fs-3', step: '0.1', placeholder: '70 kilograms', data: { target: 'bmi-calculator.weight' }  %>
</div>

<div class='col-12 mb-7'>
  <%= form.label 'Height (in meters):', class: 'form-label fs-3' %>
  <%= form.number_field :height, class: 'form-control fs-3', step: '0.1', placeholder: '1.8 meters', data: { target: 'bmi-calculator.height'}  %>
</div>

<div class='col-12 mb-7'>
  <%= form.label 'Body Mass Index (BMI):', class: 'form-label fs-3' %>
  <%= form.number_field :bmi, class: 'form-control fs-3', step: '0.1', data: { target: 'bmi-calculator.bmi' } %>
</div>

<div class='col-12 mb-7'>
  <%= form.label 'Blood Pressure:', class: 'form-label fs-3' %>
  <%= form.text_field :blood_pressure, class: 'form-control fs-3', placeholder: '120/60' %>
</div>

<div class='col-12 mb-7'>
  <%= form.label 'Temperature:', class: 'form-label fs-3' %>
  <%= form.number_field :temperature, class: 'form-control fs-3', step: '0.1', placeholder: '35 °C'  %>
</div>

<div class='col-12 mb-7'>
  <%= form.label 'Heart Rate:', class: 'form-label fs-3' %>
  <%= form.number_field :heart_rate, class: 'form-control fs-3', min: 0, placeholder: '86' %>
</div>

<div class='col-12 mb-7'>
  <%= form.label 'SPO2:', class: 'form-label fs-3' %>
  <%= form.text_field :spo_2, class: 'form-control fs-3', placeholder: '95%' %>
</div>

<hr>
<h4 class='card-title text-normal mb-7 fs-1'>Pedia Patients</h4>

<div class='col-12 mb-7'>
  <%= form.label 'Length:', class: 'form-label fs-3' %>
  <%= form.number_field :length, class: 'form-control fs-3', step: '0.1', min: 0, placeholder: '5.5cm' %>
</div>

<div class='col-12 mb-7'>
  <%= form.label 'Body Circumference:', class: 'form-label fs-3' %>
  <%= form.number_field :body_circumference, class: 'form-control fs-3', step: '0.1', min: 0, placeholder: '10.5cm' %>
</div>

<div class='col-12 mb-7'>
  <%= form.label 'MUAC:', class: 'form-label fs-3' %>
  <%= form.number_field :muac, class: 'form-control fs-3', step: '0.1', min: 0, placeholder: '2.5cm' %>
</div>

<div class='col-12 mb-7'>
  <%= form.label 'Head Circumference:', class: 'form-label fs-3' %>
  <%= form.number_field :head_circumference, class: 'form-control fs-3', step: '0.1', min: 0, placeholder: '6.5cm' %>
</div>

<div class='col-12 mb-7'>
  <%= form.label 'Hip:', class: 'form-label fs-3' %>
  <%= form.number_field :hip, class: 'form-control fs-3', step: '0.1', min: 0, placeholder: '10.5cm' %>
</div>

<div class='col-12 mb-7'>
  <%= form.label 'Limbs:', class: 'form-label fs-3' %>
  <%= form.number_field :limbs, class: 'form-control fs-3', step: '0.1', min: 0, placeholder: '10.5cm' %>
</div>

<div class='col-12 mb-7'>
  <%= form.label 'Z Score:', class: 'form-label fs-3' %>
  <%= form.number_field :z_score, class: 'form-control fs-3', step: '0.1', min: 0, placeholder: '10.5cm' %>
</div>
