<div class="card mb-5 mb-xl-10" id="kt_profile_details_view">
  <div class="card-header cursor-pointer">
    <div class="card-title m-0 d-flex flex-row align-items-center justify-content-center">
      <h3 class="fw-bold mt-5 me-2">Physical Examination Records</h3>
      <h3 class='mt-4 badge badge-light-primary d-flex align-items-center'><%= physical_examination.date.strftime("%b %d, %Y") if physical_examination.date.present? %></h3>
    </div>
  </div>
  <div class="card-body p-9">
    <div class="row mb-7">
      <strong class='mb-7 notice d-flex bg-light-primary rounded border-primary border border-dashed mb-9 p-6'>Vision: Uncorrected:
        <span class='badge badge-light-primary'>True</span> Corrected:<span class='badge badge-light-danger'>False</span>
      </strong>
      <strong class='mb-7 notice d-flex bg-light-primary rounded border-primary border border-dashed mb-9 p-6'><span class='badge badge-light-primary'>Yes</span> if Normal otherwise the <span class='badge badge-light-danger'>Abnormal findings </span>
      </strong>
      <label class="col-lg-4 fw-semibold text-muted">Right Eye</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.right_eye %></span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Left Eye</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.left_eye %></span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Both Eyes</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.both_eyes %></span>
      </div>
    </div>
    <hr>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Heent</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.heent %></span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Neck</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.neck %></span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Chest/Lungs</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.chest_lungs%></span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Heart</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.heart %></span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Breast</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.breast %></span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Abdomen</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.abdomen %></span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Gut</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.gut %></span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Extremities</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.extremities %></span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Musculoskeletal</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.musculoskeletal %></span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Neurological</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.neurological %></span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Skin</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.skin %></span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Others</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.others %></span>
      </div>
    </div>
    <hr class='mb-7'>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Complete Blood Count</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.complete_blood_count %></span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Urinalysis</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.urinalysis %></span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Fecalysis</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.fecalysis %></span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Chest X-ray</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.chest_xray %></span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Fasting Blood Sugar</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.fasting_blood_sugar %></span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Lipid Profile</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.lipid_profile %></span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Blood Uric Acid</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.blood_uric_acid %></span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">ECG 12-leads</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.ecg_12_leads %></span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Drug Test</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.drug_test %></span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Sputum GeneXpert</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.sputum_genexpert %></span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Others</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.others_1 %></span>
      </div>
    </div>
    <hr class='mb-7'>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Diagnosis</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.diagnosis %></span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Plan</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.plan %></span>
      </div>
    </div>
    <div class="row mb-7">
      <label class="col-lg-4 fw-semibold text-muted">Distric Phyisician</label>
      <div class="col-lg-8">
        <span class="fw-bold fs-6 text-gray-800"><%= physical_examination.district_physician %></span>
      </div>
    </div>
  </div>
</div>
