<div class='card mb-5 mb-xl-10' id='kt_profile_details_view'>
  <div class='card-header cursor-pointer'>
    <div class='card-title m-0 d-flex flex-row align-items-center justify-content-center'>
      <%= content_tag :h3, 'Physical Examination Records', class: 'fw-bold mt-5 me-2' %>
      <%= content_tag :h3, physical_examination.date.strftime('%b %d, %Y'), class: 'mt-4 badge badge-light-primary d-flex align-items-center' if physical_examination.date.present? %>
    </div>
    <div class="card-toolbar">
      <%= link_to patients_physical_examination_path(id: physical_examination.id, format: :docx), class: "btn btn-sm btn-primary" do %>
        <%= bootstrap_icon 'download', class: 'text-white' %>
      <% end %>
    </div>
  </div>
  <div class='card-body p-9'>
    <div class='row mb-7'>
      <strong class='mb-7 notice d-flex bg-light-primary rounded border-primary border border-dashed mb-9 p-6'>
        Vision: Uncorrected: <%= content_tag :span, 'True', class: 'badge badge-light-primary' %>
        Corrected: <%= content_tag :span, 'False', class: 'badge badge-light-danger' %>
      </strong>
      <strong class='mb-7 notice d-flex bg-light-primary rounded border-primary border border-dashed mb-9 p-6'>
        <%= content_tag :span, 'Yes', class: 'badge badge-light-primary' %>  if Normal otherwise the
        <%= content_tag :span, 'Abnormal findings', class: 'badge badge-light-danger' %>
      </strong>
      <%= content_tag :label, 'Right Eye', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.right_eye, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <div class='row mb-7'>
      <%= content_tag :label, 'Left Eye', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.left_eye, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <div class='row mb-7'>
      <%= content_tag :label, 'Both Eyes', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.both_eyes, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <hr>
    <div class='row mb-7'>
      <%= content_tag :label, 'Heent', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.heent, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <div class='row mb-7'>
      <%= content_tag :label, 'Neck', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.neck, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <div class='row mb-7'>
      <%= content_tag :label, 'Chest/Lungs', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.chest_lungs, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <div class='row mb-7'>
      <%= content_tag :label, 'Heart', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.heart, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <div class='row mb-7'>
      <%= content_tag :label, 'Breast', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.breast, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <div class='row mb-7'>
      <%= content_tag :label, 'Abdomen', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.abdomen, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <div class='row mb-7'>
      <%= content_tag :label, 'Gut', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.gut, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <div class='row mb-7'>
      <%= content_tag :label, 'Extremities', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.extremities, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <div class='row mb-7'>
      <%= content_tag :label, 'Musculoskeletal', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.musculoskeletal, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <div class='row mb-7'>
      <%= content_tag :label, 'Neurological', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.neurological, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <div class='row mb-7'>
      <%= content_tag :label, 'Skin', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.skin, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <div class='row mb-7'>
      <%= content_tag :label, 'Others', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.others, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <hr class='mb-7'>
    <div class='row mb-7'>
      <%= content_tag :label, 'Complete Blood Count', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.complete_blood_count, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <div class='row mb-7'>
      <%= content_tag :label, 'Urinalysis', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.urinalysis, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <div class='row mb-7'>
      <%= content_tag :label, 'Fecalysis', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.fecalysis, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <div class='row mb-7'>
      <%= content_tag :label, 'Chest X-ray', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.chest_xray, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <div class='row mb-7'>
      <%= content_tag :label, 'Fasting Blood Sugar', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.fasting_blood_sugar, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <div class='row mb-7'>
      <%= content_tag :label, 'Lipid Profile', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.lipid_profile, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <div class='row mb-7'>
      <%= content_tag :label, 'Blood Uric Acid', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.blood_uric_acid, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <div class='row mb-7'>
      <%= content_tag :label, 'ECG 12-leads', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.ecg_12_leads, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <div class='row mb-7'>
      <%= content_tag :label, 'Drug Test', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.drug_test, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <div class='row mb-7'>
      <%= content_tag :label, 'Sputum GeneXpert', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.sputum_genexpert, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <div class='row mb-7'>
      <%= content_tag :label, 'Others', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.others_1, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <hr class='mb-7'>
    <div class='row mb-7'>
      <%= content_tag :label, 'Diagnosis', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.diagnosis, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <div class='row mb-7'>
      <%= content_tag :label, 'Plan', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.plan, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
    <div class='row mb-7'>
      <%= content_tag :label, 'Distric Physician', class: 'col-lg-4 fw-semibold text-muted' %>
      <div class='col-lg-8'>
        <%= content_tag :span, physical_examination.district_physician, class: 'fw-bold fs-6 text-gray-800' %>
      </div>
    </div>
  </div>
</div>
