<%= form_with model: @patient, url: dashboard_patients_path, method: :post, html: { class: 'row' } do |form| %>
  <div class='col-12'>
    <div class='row gap-4 mb-4'>
      <div class='col-12'>
        <div class='card shadow-sm'>
          <div class='card-header collapsible cursor-pointer rotate' data-bs-toggle='collapse' data-bs-target='#kt_docs_card_collapsible'>
            <h3 class='card-title fs-1'><strong>New Patient</strong></h3>
            <div class='card-toolbar rotate-180'>
              <%= bootstrap_icon 'pencil-square', class: 'text-primary' %>
            </div>
          </div>
          <div id='kt_docs_card_collapsible' class='collapse show' data-controller='patients'>
            <div class='card-body px-10'>
              <%= render partial: 'patient_form', locals: { form: form }%>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-12 d-flex align-items-center justify-content-between mt-4">
    <%= link_to 'Cancel', dashboard_patients_path, class: 'btn btn-light btn-sm fs-3' %>
    <%= form.submit 'Save', class: 'btn btn-primary btn-sm fs-3'%>
  </div>
<% end %>

