<div class="container d-flex justify-content-center align-items-center vh-100">
  <div class="row justify-content-center align-items-center">
    <div class="col-12 col-lg-8 d-none d-lg-block">
      <%= image_tag("login.svg", class: "img-fluid") %>
    </div>
    <div class="col-12 col-lg-4">
      <div class="row container d-flex align-items-center justify-content-center pe-0">
        <div class="col-12 mt-5">
          <div class="text-center">
            <h1 class='text-primary mb-4 d-block d-lg-none'>Linao Record Keeping System</h1>
            <div class="logo d-flex align-items-center justify-content-center gap-4 mt-4 mt-lg-0">
              <%#= image_tag("logo.png", class: "img-fluid", style: "width: 4rem") %>
              <h2 class="mb-0 text-dark">Sign in</h2>
            </div>
          </div>
        </div>
        <div class="col-12">
          <%= form_for(resource, as: resource_name, url: session_path(resource_name), html: { class: 'd-flex flex-column gap-4 mt-4', novalidate: true, data: { controller: 'sign-in-form' }}) do |f| %>
            <div class="form-group">
              <%= f.label :email, class: "form-label" %>
                <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "form-control", placeholder: "staff@gmail.com", required: true %>
              <div class="invalid-feedback">Invalid email</div>
            </div>
            <div class="form-group">
              <%= f.label :password, class: "form-label" %>
              <%= f.password_field :password, autocomplete: "current-password", class: "form-control", placeholder: "*************", required: true%>
              <div class="invalid-feedback">Password can't be blank</div>
            </div>
            <% if devise_mapping.rememberable? %>
              <div class="form-group">
                <%= f.check_box :remember_me, class: "form-check-input" %>
                <%= f.label :remember_me, class: "form-check-label" %>
              </div>
            <% end %>
            <div class="form-group">
              <%= f.submit "Log in", class: "btn btn-primary btn-block w-100" %>
            </div>
          <% end %>
          <hr>
          <hr>
        </div>
        <div class="col-12 d-flex align-items-center justify-content-center flex-column">
          <%= render "devise/shared/links" %>
        </div>
      </div>
    </div>
  </div>
</div>
